SegmentationNetworks/Models/Carvana_Unet_no_data/Unet_Pytorch/my_checkpoint.pth.tar
SegmentationNetworks/trained_Models/Models_Zps_Imgs/
gpu_pytorch_prove.py
SegmentationNetworks/Models/Unet/output_assets_model/
SegmentationNetworks/Models/Unet/other_versions/output_assets_model_otherv
SegmentationNetworks/Models/Unet/__pycache__
SegmentationNetworks/data_DFU_images/__pycache__
ClasificationAlgorithms/data_TissueSegNet/data_padded/
ClasificationAlgorithms/data_TissueSegNet/data_semisup_padded/
ClasificationAlgorithms/data_TissueSegNet/data_padded_strat/
ClasificationAlgorithms/data_TissueSegNet/data_padded_strat_for_training
ClasificationAlgorithms/data_TissueSegNet/data_padded_stratified
ClasificationAlgorithms/Models/Unet/output_assets_model/
ClasificationAlgorithms/Models/Unet/__pycache__
ClasificationAlgorithms/Pruebas_API_Implementation

SegmentationNetworks/data_DFU_images/Images_Gerardo/new_masks_68
SegmentationNetworks/data_DFU_images/Images_Gerardo/new_maks_4classes_68
SegmentationNetworks/data_DFU_images/Images_Gerardo/pred_masks_68_EnsembleArtColab
SegmentationNetworks/data_DFU_images/Images_Gerardo/pred_masks_68_ResUnetArtColab
SegmentationNetworks/data_DFU_images/Images_Gerardo/pred_masks_68_UnetPlusPlusArtColab
SegmentationNetworks/data_DFU_images/Images_Gerardo/pred_masks_4classes_68_EnsembleArt
SegmentationNetworks/data_DFU_images/Images_Gerardo/pred_masks_4classes_68_ResUnetArt
SegmentationNetworks/data_DFU_images/Images_Gerardo/pred_masks_4classes_68_UnetPlusPlusArt
SegmentationNetworks/Models/ResUnet/__pycache__
SegmentationNetworks/Models/ResUnet/output_assets_model
**/__pycache__/
**/output_assets_model/
SegmentationNetworks/data_DFU_images/Images_Gerardo/pred_masks_68_attunet
SegmentationNetworks/data_DFU_images/Images_Gerardo/pred_masks_68_resunet
SegmentationNetworks/data_DFU_images/Images_Gerardo/pred_masks_68_resunet125e
.codegpt